body {
    background-color: white;
    color: #4d4d4f;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.menu ul {
    list-style-type: none;
}

.menu a {
    color: #4d4d4f;
    text-decoration: none;
}

#logo {
    float: left;
}

#top {
    width: 100%;
    background-color: #cbe2a0;
    padding: 0.1px;

}

.menu li {
    display: inline;
}

#jump {
    position: fixed;
    bottom: 5px;
    right: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #cbe2a0;
}

#topmenu {
    margin: 1px 5% 20px 5%;
    display: table;
    margin: 0% 10%;
}

#logo {
    position: relative;
    display: table-cell;
}

#buttons {
    position: relative;
    display: table-cell;
    left: 100px;
}

.button:hover {
    background-color: lightblue;
}

.button {
    height: 20px;
    width: 75px;
    border: 0px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 5px;
    margin: 0px;
    font-size: 16px;
    display: table-cell;
    text-align: left;
}

#main {
    margin: 5% 10%;
    display: table;
}

#sidebar {
    width: 20%;
    display: table-cell;
    padding: 5px;
}

.side li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #4d4d4f;
}

.head {
    font-variant: small-caps;
    color: lightslategray;
}

#info {
    width: 75%;
    display: table-cell;
}

.graph {
    border-top: 1px solid #d1d3d4;
    border-bottom: 1px solid #d1d3d4;
    padding-bottom: 15px;
}

.graph-header {
    font-size: 22px;
    color: #4d4d4f;
    font-family: Nunito, sans-serif;
    margin-bottom: 10px;
}

.select2-dropdown_select2-dropdown--below {
	width: 300px;
}

/* CHARTS */
.chart text {
	fill: white;
	font: 14px sans-serif;
	text-anchor: end;
}

.axis text {
	font: 10px sans-serif;
	color: black;
}

.axis path,
.axis line {
	fill: none;
	shape-rendering: crispEdges;
	stroke: #D1D3D4;
    stroke-width: 1px;
}

.x.axis path {
	display: none;
}

#lineLegend, #daly_lineLegend, #yld_lineLegend svg, path {
	fill: none;
	stroke-width: 5px;
    stroke-linecap: round;
}

#lineLegend, #daly_lineLegend, #yld_lineLegend {
	font-size: 14px;
	margin-bottom: 10px;
}

#femtext, #mtext, #sdiftext, #sdimtext,
#daly_femtext, #daly_mtext, #daly_sdiftext, #daly_sdimtext,
#yld_femtext, #yld_mtext, #yld_sdiftext, #yld_sdimtext {
	margin-right: 20px;
}

.female {
	stroke: #C2464F;
}

tr.female {
	background-color: #C2464F;
	color: #ffffff;
}

.male {
	stroke: #3B81A0;
}

tr.male {
	background-color: #3B81A0;
	color: #ffffff;
}

.sdi {
	stroke-dasharray: 0,8;
    stroke-linejoin: round;
}

tr.all {
	background-color: #9d9fa2;
	color: #ffffff;
}

table {
    border-collapse: collapse;
	border-color: #454545;
    border-spacing: 0;
	color: #454545;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

line.slope-line{
	stroke:black
}

text.slope-label{
	font: 12px Nunito;
}

#arrowdiagramDiv > svg {
	height: 200px;
	width: 1000px;
	margin-left: 50px;
}

.lineValue {
    stroke: #2c637f;
    opacity: 0.7;
    stroke-width: 3px;
}

.area {
    fill: #62a7b9;
    opacity: 0.7;
}

/* Button styles */
.saveButtons {
    float: right;
    margin-top: 10px;
}

.graphDiv {
    padding-left: 10px;
    padding-right: 10px;
}

th, td {
	border: 1px solid #4d4d4f;
	text-align: center;
	padding: 5px 10px;
}

th {
	font-size: 18px;
}

#loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#benchmark_body-cell-neutral {
  width: 55px;
  height: 45px;
  color: #454545;
  background-color: #DFE0DF;
}

#benchmark_body-cell-above {
  width: 55px;
  height: 45px;
  color: white;
  background-color: #F16639;
}

#benchmark_body-cell-below {
  width: 55px;
  height: 45px;
  color: white;
  background-color: #5596D0;
}

#benchmark_header-cell {
  font-weight: normal;
  color: #454545;
  border: none;
  padding-bottom: 15px;
  padding-top: 25px;
}

#benchmark_label-cell {
  width: 200px;
  border: none;
}

#benchmark_blank {
  color: white;
  border: none;
}

#legend-item-lower-text::before,
#legend-item-same-text::before,
#legend-item-upper-text::before {
  border-left-width: 8px;
  border-left-style: solid;
  border-color: inherit;
  border-radius: 16px;
  content: "";
  width: 100%;
  height: 18px;
  padding: 1px 0;
  margin-right: 2px;
}

#legend-item-lower-text {
  font-size: 11px;
  border-left-color: rgb(85, 150, 208);
  float: left;
  margin-right: 15px;
}

#legend-item-same-text {
  font-size: 11px;
  border-left-color: rgb(224, 224, 224);
  float: left;
  margin-right: 15px;
}

#legend-item-upper-text {
  font-size: 11px;
  border-left-color: rgb(255, 102, 51);
  float: left;
}

.legend {
  border: 0;
  display: block;
  width: auto;
  margin: 1px 0;
  padding: 2px 0;
  padding-left: 18px;
  text-indent: -18px;
  background: 0 0;
}

#benchmark-legend {
  margin-left: 10px;
  overflow:hidden;
}

.footer {
  width: 100%;
}